<% modules.forEach((module) => { %>

<div class="card card-compact w-96 bg-base-100 shadow-xl">
    <div class="mockup-browser border bg-base-300">

        <div class="mockup-browser-toolbar">
            <a href="<%= module.url %>" target="_blank" class="input"><%= module.url %></a>
        </div>
        <div class="justify-center card-title"><%= module.name %></div>

        <div class="flex justify-center px-4 py-16 bg-base-200"> <a href="<%= module.url %>" target="_blank"><img class="w-20"
                src="<%= module.image %>"></a>
        </div>
        <div class="card-body">

            <div class="card-text">
                <%= module.description %>
            </div>
            <div class="card-actions justify-center">
                <button class="btn btn-error">Unstake</button>

                <button class="btn btn-primary">Stake</button>
              </div>
        </div>

    </div>
</div>
<% }) %>
